/* You can add global styles to this file, and also import other style files */


body {
  height : 100vh;
  background: linear-gradient(
    135deg,
    rgba(245,230,255,1) 0%,
    rgba(230,240,255,1) 50%,
    rgba(245,230,255,1) 100%
  );
  padding: 2rem;
}
