<header id="collection-header">
  <h1>My Collection</h1>
  <div>
    <app-search-bar
      [(search)]="searchText"
    >
    </app-search-bar>
  </div>
</header>
<section class="collection-grid">
  @for (item of collectionItems(); track item.id){
    @switch(item.rarity){
      @case("Legendary"){
        <div>
          <app-collection-item-card [item]="item">
          </app-collection-item-card>
        </div>
      }
      @case("Rare"){
        <div>
          <app-collection-item-card [item]="item">
          </app-collection-item-card>
        </div>
      }
      @default {
        <app-collection-item-card [item]="item">
        </app-collection-item-card>
      }
    }
  }
</section>
@let itemsCount = collectionItems().length;
@if (itemsCount){
  <div class="centered">Found <b>{{itemsCount}}</b> results</div>
}@else {
  <div class="centered">No items found</div>
}
<div class="centered">
  <button (click)="addGenericItem()">Ajouter Objet</button>
</div>
